.library-text-slide {
  animation: text-slide-short 7s infinite linear;
}

.show-list {
  animation: show-list 0.4s ease-out;
}

.show-list-item {
  animation: show-list-item 0.4s linear;
}

.library-list-artist {
  white-space: nowrap;
  overflow: hidden;
  width: 220px;
}

.library-list-album {
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}

.library-list-songs {
  white-space: nowrap;
  overflow: hidden;
  width: 350px;
}

.text-list {
  font-size: 14pt;
  font-weight: lighter;
}

.text-list-title {
  font-size: 16pt;
  font-weight: normal;
}

.text-list p {
  font-size: 14pt;
  font-weight: lighter;
}

.img-border {
  border: 1px solid #DDD;
}

.extra-padding .row {
  margin-bottom: 10px;
}

li a {
  display: block;
}

.hide-bullets {
  list-style: none;
  padding-left: 0;
}

.text-selected {
  pointer-events: none;
  color: Crimson;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:  none;
}

@media(min-width: 992px) {
  .vcenter .row div {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

@keyframes show-list {
  0% { transform: translateX(-30px); }
  100% { transform: translateX(0); }
}

@keyframes show-list-item {
  0% { opacity: 0.1; }
  100% { opacity: 1; }
}

@keyframes text-slide-short {
  0% { opacity: 0.1; transform: translateX(0); }
  5% { opacity: 1; }
  30% { transform: translateX(0); }
  85% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-150%); }
}
