#nav-bar .nav-pills > li.active > a:enabled {
  border-bottom: 2px solid Crimson;
  color: Gray;
  background-color: transparent;
}

#nav-bar .nav-pills > li > a:hover,
#nav-bar .nav-pills > li > a:focus {
  background-color: transparent;
}

.well {
  padding-top: 0;
  padding-bottom: 0;
}
