<br />
<div class="extra-padding text-list text-center-vertical" *ngIf="!isUploading">
  <div class="row">
    <div class="col-md-1 col-md-offset-1">
      Upload:
    </div>
    <div class="col-md-4">
      <input type="file" (change)="addSongs($event.target.files)" placeholder="Upload Songs" accept=".mp3" multiple>
    </div>
  </div>
  <br />
</div>
<div id="progress-bar" *ngIf="isUploading">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="currProgress"
        aria-valuemin="0" [attr.aria-valuemax]="maxProgress" [ngStyle]="{width: currProgress / maxProgress | percent: '1.0-1'}">
        {{currProgress}} / {{maxProgress}} Files
      </div>
    </div>
  </div>
  <div class="col-md-2" *ngIf="isUploading && currProgress == 0">
    <p>Connecting...</p>
  </div>
  <div class="col-md-2" *ngIf="isUploading && currProgress > 0 && currProgress < maxProgress">
    <p>Uploading...</p>
  </div>
  <div class="col-md-2" *ngIf="isUploading && currProgress == maxProgress">
    <p>Upload complete!</p>
  </div>
</div>
</div>
