<div class="well">
  <div class="row">
    <div class="col-md-offset-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#songSelect"
        (click)="isActiveSection = [true, false, false, false]" [ngClass]="isActiveSection[0] == true ? 'active' : ''">
          <i class="glyphicon glyphicon-music"></i>&nbsp;Library
        </button>
        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#editSong" [disabled]="currSongInfo == null"
        (click)="isActiveSection = [false, true, false, false]" [ngClass]="isActiveSection[1] == true ? 'active' : ''">
          <i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit Song
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
          [ngClass]="isActiveSection[2] == true || isActiveSection[3] == true ? 'active' : ''">
            <i class="glyphicon glyphicon-cloud-upload"></i>&nbsp;Add a Song
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="#" data-toggle="collapse" data-target="#singleUpload"
              (click)="isActiveSection = [false, false, true, false]">Single</a>
            </li>
            <li>
              <a href="#" data-toggle="collapse" data-target="#multipleUpload"
              (click)="isActiveSection = [false, false, false, true]">Multiple</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="songSelect" class="collapse" *ngIf="isActiveSection[0]">
    <br />
    <div *ngIf="artists.length == 0">
      <div class="row text-list">
        <div class="col-md-3 col-md-offset-1">
          <p>Your library is currently empty.</p>
        </div>
      </div>
    </div>
    <div *ngIf="artists.length != 0">
      <div class="row text-list">
        <div class="col-md-3 col-md-offset-1">
          <div class="text-list-title">Artists</div>
          <ul class="hide-bullets">
            <span *ngFor="let artist of artists">
              <li><a href="#" [ngClass]="artist == selArtistId ? 'text-selected' : ''" (click)="getAlbums(artist.id)">{{artist.name}}</a></li>
            </span>
          </ul>
        </div>
        <div class="col-md-3" *ngIf="selArtistId != null">
          <div class="text-list-title">Albums</div>
          <ul class="hide-bullets">
            <span *ngFor="let album of albums">
              <li><a href="#" [ngClass]="album == selAlbumId ? 'text-selected' : ''" (click)="getSongs(selArtistId, album.id)">{{album.name}}</a></li>
            </span>
          </ul>
        </div>
        <div class="col-md-5" *ngIf="selAlbumId != null" >
          <div class="text-list-title">Songs</div>
          <ul class="hide-bullets">
            <span *ngFor="let song of songs">
              <li><a href="#" [ngClass]="song == selSongId ? 'text-selected' : ''" (click)="getSong(song.id)">{{song.track}}. {{song.name}}</a></li>
            </span>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div id="editSong" class="collapse" *ngIf="isActiveSection[1]">
    <br />
    <div class="extra-padding text-list checkbox-text vcenter">
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Track:
        </div>
        <div class="col-md-1">
          <input type="text" class="form-control input-md" [(ngModel)]="currSongInfo.song.track">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Name:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-lg" [(ngModel)]="currSongInfo.song.name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Artist:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-lg" [(ngModel)]="currSongInfo.artist.name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Album:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-lg" [(ngModel)]="currSongInfo.album.name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Year:
        </div>
        <div class="col-md-4">
          <input type="text" class="form-control input-lg" [(ngModel)]="currSongInfo.song.year">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="btn-group">
          <button class="btn btn-default btn-sm" [disabled]="currSongInfo.song.name == null
          || currSongInfo.song.name == '' || currSongInfo.album.name == null || currSongInfo.album.name == ''
          || currSongInfo.artist.name == null || currSongInfo.artist.name == ''"
          (click)="updateSong()">Save</button>
          <button class="btn btn-default btn-danger btn-sm" (click)="removeSong()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div id="singleUpload" class="collapse" *ngIf="isActiveSection[2]">
    <div class="extra-padding text-list checkbox-text vcenter">
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          File:
        </div>
        <div class="col-md-4">
          <input type="file" (change)="addSongs($event.target.files)" placeholder="Upload a Song" accept=".mp3">
        </div>
      </div>
    </div>
  </div>
  <div id="multipleUpload" class="collapse" *ngIf="isActiveSection[3]">
    <div class="extra-padding text-list checkbox-text vcenter">
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Files:
        </div>
        <div class="col-md-4">
          <input type="file" (change)="addSongs($event.target.files)" placeholder="Upload Songs" accept=".mp3" multiple>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isUploading">
    <div class="col-md-3 col-md-offset-1">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="currProgress"
        aria-valuemin="0" [attr.aria-valuemax]="maxProgress" [ngStyle]="{width: currProgress / maxProgress | percent: '1.0-1'}">
        {{currProgress}} / {{maxProgress}}
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-1 text-center" *ngIf="isUploading && currProgress == 0">
    Connecting...
  </div>
  <div class="col-md-3 col-md-offset-1 text-center" *ngIf="isUploading && currProgress > 0 && currProgress < maxProgress">
    Uploading...
  </div>
  <div class="col-md-3 col-md-offset-1 text-center" *ngIf="isUploading && currProgress == maxProgress">
    Upload complete!
  </div>
</div>
</div>
<div class="container" *ngIf="!hasSelSong">
  <h2 class="text-list-title text-center">
    Please select a song above.
  </h2>
</div>
<div class="container" *ngIf="hasSelSong">
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive img-rounded img-border" [src]="songArtworkSrc">
    </div>
    <div class="col-md-6">
      <div id="playback-controls" class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-circle" *ngIf="isPlayingSong" disabled>
              <i class="glyphicon glyphicon-repeat glyphicon-normal-right-spinner"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle" *ngIf="!isPlayingSong" (click)="playSong()">
              <i class="glyphicon glyphicon-play"></i>
            </button>
            <button type="button" class="btn btn-default btn-circle" (click)="pauseSong()" [disabled]="!isPlayingSong">
              <i class="glyphicon glyphicon-pause"></i>
            </button>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h2>{{currSongInfo.song.track}}. {{currSongInfo.song.name}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>{{currSongInfo.artist.name}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>{{currSongInfo.album.name}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>{{currSongInfo.song.year}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
