input[type="file"] {
  font-size: 11pt;
  line-height: 0ex;
}

/* Enables tooltip on disabled buttons. */
.btn[disabled] {
 pointer-events: all !important;
}

.text-center {
  text-align: center;
}

.text-list {
  font-size: 16pt;
  font-weight: lighter;
}

.text-list-title {
  font-size: 18pt;
  font-weight: normal;
}

.text-list p {
  font-size: 16pt;
  font-weight: lighter;
}

.checkbox-text label {
  font-size: 10pt;
  font-weight: lighter;
  font-style: italic;
}

.extra-padding .row {
  margin-bottom: 10px;
}

@media(min-width: 992px) {
  .vcenter .row div {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

a {
  color: Gray;
}

.text-selected {
  pointer-events: none;
  color: Crimson;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:  none;
}

.hide-bullets {
  list-style: none;
  padding-left: 0;
}

.jumbotron {
  padding-top: 5px;
}
