#playback-controls {
  margin-top: 15px;
  margin-bottom: 5px;
}

#playback-controls button {
  margin-right: 8px;
}

#playback-controls .btn {
  width: 50px;
  height: 50px;
  line-height: 1.33;
  border-radius: 25px;
}

#playback-controls .btn-play {
  font-size: 20px;
  padding: 12px 16px;
}

#playback-controls .btn-playing {
  font-size: 24px;
  padding: 11px 11px;
}

#playback-controls .btn-pause {
  font-size: 24px;
  padding: 10px 13px;
}

#playback-controls .btn-stop {
  font-size: 20px;
  padding: 12px 14px;
}

#playback-controls .glyphicon-normal-right-spinner {
    -webkit-animation: glyphicon-spin-r 2s infinite linear;
    animation: glyphicon-spin-r 2s infinite linear;
}

.input-textbox-xs {
  width: 50px;
}

input[type="file"] {
  font-size: 11pt;
  line-height: 0ex;
}

.text-center {
  text-align: center;
}

.text-list {
  font-size: 14pt;
  font-weight: lighter;
}

.text-list-title {
  font-size: 16pt;
  font-weight: normal;
}

.text-list p {
  font-size: 14pt;
  font-weight: lighter;
}

.img-border {
  border: 1px solid #DDDDDD;
}

.extra-padding .row {
  margin-bottom: 10px;
}

a {
  color: Gray;
}

.text-selected {
  pointer-events: none;
  color: Crimson;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:  none;
}

.hide-bullets {
  list-style: none;
  padding-left: 0;
}

.jumbotron {
  padding-top: 5px;
}

.progress {
  background: #B5B5B5;
}

@media(min-width: 992px) {
  .vcenter .row div {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
