.text-center {
  text-align: center;
}

.text-list {
  font-size: 16pt;
  font-weight: lighter;
}

.text-list-title {
  font-size: 18pt;
  font-weight: normal;
}

a {
  color: Gray;
}

.text-selected {
  pointer-events: none;
  color: Crimson;
}

a:link, a:visited, a:hover, a:active {
  text-decoration:  none;
}

.hide-bullets {
  list-style: none;
  padding-left: 0;
}

.jumbotron {
  padding-top: 5px;
}
