<div class="well">
  <div class="row">
    <div class="col-md-offset-1">
      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#songSelect"
      (click)="isCollapsed = [false, true]" [ngClass]="isCollapsed[0] == false ? 'active' : ''">Select a Song</button>
      <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#addSong"
      (click)="isCollapsed = [true, false]" [ngClass]="isCollapsed[1] == false ? 'active' : ''">Add a Song</button>
    </div>
  </div>
  <div id="songSelect" class="collapse" *ngIf="!isCollapsed[0]">
    <br />
    <div class="row text-list">
      <div class="col-md-3 col-md-offset-1">
        <div class="text-list-title">Artists</div>
        <ul class="hide-bullets">
          <span *ngFor="let artist of artistList">
            <li> <a href="#" [ngClass]="artist == selectedArtist ? 'text-selected' : ''" (click)="getAlbumList(artist)">{{artist}}</a></li>
          </span>
        </ul>
      </div>
      <div class="col-md-3" *ngIf="selectedArtist != null">
        <div class="text-list-title">Albums</div>
        <ul class="hide-bullets">
          <span *ngFor="let album of albumList">
            <li> <a href="#" [ngClass]="album == selectedAlbum ? 'text-selected' : ''" (click)="getSongList(album)">{{album}}</a></li>
          </span>
        </ul>
      </div>
      <div class="col-md-4" *ngIf="selectedAlbum != null" >
        <div class="text-list-title">Songs</div>
        <ul class="hide-bullets">
          <span *ngFor="let songTitle of songTitleList">
            <li> <a href="#" [ngClass]="songTitle == selectedSong ? 'text-selected' : ''" (click)="getSong(songTitle)">{{songTitle}}</a></li>
          </span>
        </ul>
      </div>
    </div>
  </div>
  <div id="addSong" class="collapse" *ngIf="!isCollapsed[1]">
    <br />
    <div class="row">
      <div class="col-md-8 col-md-offset-1">
        <table class="extra-padding text-list">
          <tr>
            <td>File:</td>
            <td><input type="file" (change)="newSongFile = $event.target.files" placeholder="Upload a Song" accept=".mp3"></td>
          </tr>
          <tr>
            <td>Title:</td>
            <td><input type="text" class="form-control input-lg" [(ngModel)]="newSong.title"></td>
          </tr>
          <tr>
            <td>Album:</td>
            <td><input type="text" class="form-control input-lg" [(ngModel)]="newSong.album"></td>
          </tr>
          <tr>
            <td>Artist:</td>
            <td><input type="text" class="form-control input-lg" [(ngModel)]="newSong.artist"></td>
          </tr>
          <tr>
            <td>Year:</td>
            <td><input type="text" class="form-control input-lg" [(ngModel)]="newSong.year"></td>
          </tr>
        </table>
        <br />
        <button class="btn btn-default btn-sm" [disabled]="newSongFile == null || newSong.title == null
        || newSong.title == '' || newSong.album == null || newSong.album == ''
        || newSong.artist == null || newSong.artist == ''"
        (click)="addSong()">Upload</button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngIf="currentSong == null">
  <h2 class="text-center">
    Please select a song above.
  </h2>
</div>
<div class="container" *ngIf="currentSong != null">
  <div class="row">
    <div class="col-md-4">
      <img class="img-responsive" [src]="songArtworkSrc">
    </div>
    <div class="col-md-6">
      <table>
        <tr>
          <td>
            <br />
            <button class="btn btn-default btn-primary" (click)="songPlayback.play()">Play</button>
            <button class="btn btn-default btn-primary" (click)="songPlayback.pause()">Pause</button>
            <button class="btn btn-default btn-danger" (click)="removeSong()">Delete</button>
          </td>
        </tr>
        <tr>
          <td><h2>{{currentSong.title}}</h2></td>
        </tr>
        <tr>
          <td><h4>{{currentSong.artist}}</h4></td>
        </tr>
        <tr>
          <td><h4>{{currentSong.album}}</h4></td>
        </tr>
        <tr>
          <td><h4>{{currentSong.year}}</h4></td>
        </tr>
      </table>
    </div>
  </div>
